<a href="https://colab.research.google.com/github/ghazalrafiei/Resume-Recommender-System/blob/main/TF_IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install parsivar
import re
from parsivar import Normalizer,Tokenizer

Requirement already satisfied: parsivar in /usr/local/lib/python3.7/dist-packages (0.2.3)
Requirement already satisfied: nltk==3.4.5 in /usr/local/lib/python3.7/dist-packages (from parsivar) (3.4.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk==3.4.5->parsivar) (1.15.0)

In [ ]:
# import hazm
import pandas as pd

In [ ]:
  _normalizer = Normalizer()

In [ ]:
stop_words = set()
def loads_stops():
    h = Normalizer()
    with open('/content/drive/MyDrive/resume/fa_stopwords.txt','r+') as s:
        for w in s.readlines():
            w = w.rstrip().replace('\u200c',' ')
            w = h.normalize(w)
            stop_words.add(w)
loads_stops()

In [ ]:
syn_df =  pd.read_csv('/content/drive/MyDrive/resume/synonyms.csv')
eng_to_fa = {}
for i in range(len(syn_df)):
  eng_to_fa[syn_df['eng'][i]] = syn_df['fa'][i]

In [ ]:
def normaz(t):
  _normalizer = Normalizer()
  return _normalizer.normalize(t)

In [ ]:
def tokenizePersianText(text):
  x = normaz(text)
  x = x.replace('\u200c',' ')
  x = x.replace('\u202a',' ')
  x = x.replace('\u202c',' ')
  x = x.replace('\u202b',' ')
  x = x.replace('\u202c',' ')

  # ^((\\u202a)|(\\u202c)|(\\x0c)|(\\uf0b7)|\\ue812|\\u200c)
  tz = Tokenizer()
  tokens = tz.tokenize_words(x)
  # s = SpellCheck()
  # tokens = [s.spell_corrector(w) for w in text]

  tokens = [w for w in tokens if not w in stop_words if len(w)>3 and w!='C']
  for t in tokens:
    if re.match(r'[a-zA-Z]',t):
      if t.lower() in eng_to_fa.keys():
        tokens.remove(t)
        tokens.append(eng_to_fa[t.lower()])
  return tokens

In [ ]:
description = ''
with open('/content/drive/MyDrive/resume/desciption.txt') as f:
  for r in f.readlines():
    description += ' '+(r.rstrip())
description = tokenizePersianText(description)
print(description)

['دسته', 'شغلی', 'برنامه', 'نویسی', 'تهران', 'تهران', 'شغلی', 'شرکت', 'همپا', 'برنامه', 'نویس', 'Front', 'مسلط', 'React', 'بپیوندد', 'برنامه', 'نویس', 'مسئولیت', 'ساخت', 'اپلیکشن', 'Front', 'React', 'نوشتن', 'تمیز', 'نوشتن', 'HTML', 'تمیز', 'استانداردهای', 'Best', 'practice', 'نوشتن', 'Cross', 'browser', 'compatible', 'نوشتن', 'اپلیکیشن', 'Responsive', 'RESTfull', 'APIs', 'نیازمندی', 'نسخه', 'استاندارد', 'ECMAScript', 'تجربه', 'React', 'فریم', 'Node', 'Express', 'HTML5', 'CSS3', 'Bootstrap', 'Sass', 'Less', 'ارتباط', 'طراح', 'پیاده', 'تکنولوژی', 'برنامه', 'نویسی', 'نوشتن', 'ماهیانه', 'امکان', 'سهام', 'امکان', 'ارتقای', 'شغلی', 'مدیریت', 'معرفی', 'شرکت', 'همپا', 'مسیرهای', 'شهری', 'افراد', 'مشابهی', 'زمان', 'یکسان', 'اپلیکیشن', 'همپا', 'امکان', 'فراهم', 'صاحبان', 'خودرو', 'صندلی', 'خالی', 'خودروی', 'افراد', 'بدین', 'هزینه', 'درصد', 'کاهش', 'کارپولینگ', 'همسفری', 'دنیا', 'تاثیر', 'کاهش', 'خودروهای', 'سرنشین', 'قرار', 'نیاز', 'Front', 'React', 'HTML', 'Responsive', 'Restfull', 'فناوری', 'اطلاعات', 'ارتباطات', 'فناوری', 'اطلاعات', 'علوم', 'کامپیوتر', 'کامپیوتر', 'مهندسی', 'کامپیوتر', 'اپلیکیشن', 'جاواسکریپت']

In [ ]:
import re
resumes = {}
emails = {}
numbers = {}
phones = {}
urls = {}
educations = {}
university_experience = {}
enterprise_experience = {}
  
university_experience = {}
for i in range(1,35):
  resume = ''
  emails[i] = []
  phones[i] = []
  urls[i] = []
  numbers[i] = []
  educations[i] = []
  university_experience[i] = []
  enterprise_experience[i] = []
  
  with open(f'/content/drive/MyDrive/resume/resume{i}.txt') as f:
    for lines in f.readlines():
      line = lines.replace('\n',' ')
      emails[i]+=re.findall(r'[0-9a-zA-Z\.-]+@[a-zA-Z\.-]+',line)
      line = re.sub(r'[0-9a-zA-Z\.-]+@[a-zA-Z\.-]+',' ',line)

      # phones[i]+=re.findall(r'[\+98|0]?9\d{9}',line)
      # re.sub(r'[\+98|0]?9\d{9}',' ',line)

      # phones[i]+=re.findall(r'\+\u06F9\u06F8|\u06F90]?\u06F9{\u06F0-\u06F9}{\u06F9}',line)
      # re.sub(r'\+\u06F9\u06F8|\u06F90]?\u06F9{\u06F0-\u06F9}{\u06F9}',' ',line)

      numbers[i]+=re.findall(r'(\d+|[\u06F0-\u06F9]+)',line)
      line = re.sub(r'(\d+|[\u06F0-\u06F9]+)',' ',line)

      urls[i]+=re.findall(r'([https?:\/\/]?[www\.]?[a-z0-9A-Z\u06F0-\u06F9]+\.[a-z]+[\/[a-z0-9]]?)',line)
      line = re.sub(r'([https?:\/\/]?[www\.]?[a-z0-9A-Z\u06F0-\u06F9]+\.[a-z]+[\/[a-z0-9]]?)',' ',line)
      
      linen = _normalizer.normalize(line)
      educations[i]+=re.findall(r'(لیسانس|کارشناسی ارشد|کارشناسی|فوق لیسانس|دکترا|دیپلم|bachelor|diploma|master|bs|b\.s|m\.s|phd)',linen)
      linen = re.sub(r'(لیسانس|کارشناسی ارشد|کارشناسی|فوق لیسانس|دکترا|دیپلم|bachelor|diploma|master|bs|b\.s|m\.s|phd)',' ',linen)
        # print(linen)

      if line.find('دانشگاه') != -1 or line.lower().find('university') != -1:
        # print(line)
        university_experience[i].append(linen)

      if line.find('شرکت')!= -1 or line.find('کارخانه')!=-1:
        # print(line)
        enterprise_experience[i].append(_normalizer.normalize(line.replace('\n',' ')))

      resume += ' '+line.rstrip()
  
  res_tokens = tokenizePersianText(resume)
  resumes[i] = res_tokens

metadata = pd.DataFrame(index=range(1,35))
metadata['email'] = emails.values()
metadata['phone'] = phones.values()
metadata['education'] = educations.values()
metadata['university'] = university_experience.values()
metadata['url'] = urls.values()
metadata['enterprise'] = enterprise_experience.values()
metadata['numbers'] = numbers.values()
# metadata

/usr/local/lib/python3.7/dist-packages/numpy/core/_asarray.py:83: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order)

In [ ]:
len(resumes)

34

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

def cosine_sim(text1, text2):
    vectorizer = TfidfVectorizer(tokenizer=tokenizePersianText)

    tfidf = vectorizer.fit_transform([text1, text2])
    return ((tfidf * tfidf.T).A)[0,1]

In [ ]:
similarities = {}
i = 1
for r in resumes.values():
  if r:
    similarities[i] = cosine_sim(description.__str__(), resumes[i].__str__())
    i += 1

In [ ]:
similarities
resumes

In [ ]:
ranking = sorted(similarities.items(), key=lambda x: x[1], reverse=True)
result = pd.DataFrame()
result['number'] = [r[0] for r in ranking]
result['tf-idf score'] = [r[1] for r in ranking]
result

    number  tf-idf score
0       15      0.180145
1       14      0.176534
2       10      0.175945
3        9      0.134028
4       18      0.130825
5        1      0.125364
6        5      0.104131
7        6      0.098177
8       16      0.093133
9       28      0.091855
10      12      0.091219
11      20      0.085963
12       4      0.084412
13      27      0.070649
14      22      0.064661
15      33      0.063894
16       2      0.059919
17      29      0.058699
18       8      0.046900
19      31      0.044906
20      25      0.033839
21      30      0.029079
22      19      0.027678
23       3      0.024006
24      26      0.020925
25      21      0.020906
26      24      0.020603
27      11      0.016960
28      32      0.014520
29      23      0.006416
30       7      0.000000
31      13      0.000000
32      17      0.000000
33      34      0.000000